/* 



1. Add your custom Css styles below

2. Place the this code in your template: 



 <link href="css/custom.css" rel="stylesheet">



*/

.nav-pills, .nav-tabs {
    margin-bottom: 15px; }
    .nav-pills .nav-link, .nav-tabs .nav-link {
      color: #71808f; }
  
  .nav-tabs .nav-link {
    padding: .7rem 1rem; }
  
  .tabs-line .nav-link {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    border-width: 0;
    border-bottom: 1px solid transparent; }
    .tabs-line .nav-link:hover, .tabs-line .nav-link.active {
      color: #1775b9;
      border-bottom-color: #1775b9; }
  
  .tabs-line.tabs-line-2x .nav-link {
    border-bottom-width: 2px; }
  
  .tabs-line-success .nav-link:hover, .tabs-line-success .nav-link.active {
    color: #18C5A9;
    border-bottom-color: #18C5A9; }
  
  .tabs-line-info .nav-link:hover, .tabs-line-info .nav-link.active {
    color: #2CC4CB;
    border-bottom-color: #2CC4CB; }
  
  .tabs-line-warning .nav-link:hover, .tabs-line-warning .nav-link.active {
    color: #F39C12;
    border-bottom-color: #F39C12; }
  
  .tabs-line-danger .nav-link:hover, .tabs-line-danger .nav-link.active {
    color: #f75a5f;
    border-bottom-color: #f75a5f; }
  
  .tabs-line-pink .nav-link:hover, .tabs-line-pink .nav-link.active {
    color: #FF4081;
    border-bottom-color: #FF4081; }
  
  .nav-pills .nav-link {
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s; }
  
  .nav-pills .nav-link.active {
    background-color: #1775b9;
    color: #fff; }
  
  .nav-pills.nav-pills-rounded .nav-link.active {
    -webkit-border-radius: 50px;
    border-radius: 50px; }
  
  .nav-pills.nav-pills-air .nav-link.active {
    -webkit-box-shadow: 0 5px 20px #d6dee4;
    box-shadow: 0 5px 20px #d6dee4; }
    .nav-pills.nav-pills-air .nav-link.active:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .nav-pills-success .nav-link.active {
    background-color: #18C5A9;
    color: #fff; }
  
  .nav-pills-info .nav-link.active {
    background-color: #2CC4CB;
    color: #fff; }
  
  .nav-pills-warning .nav-link.active {
    background-color: #F39C12;
    color: #fff; }
  
  .nav-pills-danger .nav-link.active {
    background-color: #f75a5f;
    color: #fff; }
  
  .nav-pills-pink .nav-link.active {
    background-color: #FF4081;
    color: #fff; }

    .checkbox, .radio {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
      padding-left: 25px;
      font-weight: 400;
      min-height: 18px; }
      .checkbox .input-span, .radio .input-span {
        position: absolute;
        display: inline-block;
        height: 18px;
        width: 18px;
        left: 0;
        top: 0;
        border: 1px solid #bdc3c7; }
        .checkbox .input-span::after, .radio .input-span::after {
          content: '';
          position: absolute;
          display: none;
          width: 5px;
          height: 10px;
          left: 6px;
          top: 2px;
          border: solid #526477;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      .checkbox input, .radio input {
        position: absolute;
        opacity: 0; }
        .checkbox input:checked ~ .input-span:after, .radio input:checked ~ .input-span:after {
          display: block; }
      .checkbox:hover .input-span, .radio:hover .input-span {
        border-color: #b8b8b8; }
      .checkbox.checkbox-grey .input-span, .checkbox.radio-grey .input-span, .radio.checkbox-grey .input-span, .radio.radio-grey .input-span {
        background-color: #E6E6E6;
        border-color: #E6E6E6; }
      .checkbox.disabled, .radio.disabled {
        opacity: .7;
        cursor: not-allowed; }
      .checkbox.check-single, .radio.check-single {
        padding-left: 18px; }
    
    .check-list .checkbox, .check-list .radio {
      display: block; }
    
    .check-list .checkbox + .checkbox, .check-list .radio + .radio {
      margin-top: 8px; }
    
    .checkbox-primary input:checked ~ .input-span {
      background-color: #1775b9;
      border-color: #1775b9; }
      .checkbox-primary input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-success input:checked ~ .input-span {
      background-color: #18C5A9;
      border-color: #18C5A9; }
      .checkbox-success input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-info input:checked ~ .input-span {
      background-color: #2CC4CB;
      border-color: #2CC4CB; }
      .checkbox-info input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-warning input:checked ~ .input-span {
      background-color: #F39C12;
      border-color: #F39C12; }
      .checkbox-warning input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-danger input:checked ~ .input-span {
      background-color: #f75a5f;
      border-color: #f75a5f; }
      .checkbox-danger input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-blue input:checked ~ .input-span {
      background-color: #3498DB;
      border-color: #3498DB; }
      .checkbox-blue input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-pink input:checked ~ .input-span {
      background-color: #FF4081;
      border-color: #FF4081; }
      .checkbox-pink input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-ebony input:checked ~ .input-span {
      background-color: #34495f;
      border-color: #34495f; }
      .checkbox-ebony input:checked ~ .input-span::after {
        border-color: #fff; }
    
    .checkbox-outline-primary input:checked ~ .input-span {
      border-color: #1775b9; }
      .checkbox-outline-primary input:checked ~ .input-span::after {
        border-color: #1775b9; }
    
    .checkbox-outline-success input:checked ~ .input-span {
      border-color: #18C5A9; }
      .checkbox-outline-success input:checked ~ .input-span::after {
        border-color: #18C5A9; }
    
    .checkbox-outline-info input:checked ~ .input-span {
      border-color: #2CC4CB; }
      .checkbox-outline-info input:checked ~ .input-span::after {
        border-color: #2CC4CB; }
    
    .checkbox-outline-warning input:checked ~ .input-span {
      border-color: #F39C12; }
      .checkbox-outline-warning input:checked ~ .input-span::after {
        border-color: #F39C12; }
    
    .checkbox-outline-danger input:checked ~ .input-span {
      border-color: #f75a5f; }
      .checkbox-outline-danger input:checked ~ .input-span::after {
        border-color: #f75a5f; }
    
    .checkbox-outline-blue input:checked ~ .input-span {
      border-color: #3498DB; }
      .checkbox-outline-blue input:checked ~ .input-span::after {
        border-color: #3498DB; }
    
    .checkbox-outline-pink input:checked ~ .input-span {
      border-color: #FF4081; }
      .checkbox-outline-pink input:checked ~ .input-span::after {
        border-color: #FF4081; }
    
    .checkbox-outline-ebony input:checked ~ .input-span {
      border-color: #34495f; }
      .checkbox-outline-ebony input:checked ~ .input-span::after {
        border-color: #34495f; }

