
input {
    display: block;
    margin: .5em auto 0em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.8);
    font-size: 2em;
    line-height: 0;
		transition: all .5s linear;
}

input:hover, input:focus {
	outline: 0;
	transition: all .5s linear;
	box-shadow: inset 0px 0px 10px #ccc;
}

meter {
    /* Reset the default appearance */
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
     display:none;       
	margin: 0 auto 1em;
	width: 100%;
	height: .5em;
    
    /* Applicable only to Firefox */
	background: none;
	background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red!important; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow!important; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange!important; }
meter[value="4"]::-webkit-meter-optimum-value { background: green!important; }

meter[value="1"]::-moz-meter-bar { background: red!important; }
meter[value="2"]::-moz-meter-bar { background: yellow!important; }
meter[value="3"]::-moz-meter-bar { background: orange!important; }
meter[value="4"]::-moz-meter-bar { background: green!important; }

.feedback {
	color: #9ab;
	font-size: 90%;
	padding: 0 .25em;
	font-family: Arial;
	margin-top: 1em;
}